.nombler-logo
{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-align: center;
}
.overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    font-family: 'Lato';
    color: white;
    font-size: 120%;
}
.description > h1 {
    font-size: 300%;
}
.footnote {
  margin-top: 1em;
}
.footnote button {
    font-family: 'Lato';
    color: white;
    font-size: 60%;
    text-decoration: underline;
    padding: 0
}
.well {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
}
