body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 35em) {
  html, body {
    height: 100%; }

  html {
    overflow-y: hidden; }

  body {
    overflow-y: scroll;
    background-color: #000000; } }
.page-header {
  margin-top: 0;
  font-family: 'Fira Sans';
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center; }
  .page-header .navlinks {
    position: relative;
    margin-left: auto; }
    .page-header .navlinks a {
      font-weight: bold;
      color: white;
      text-decoration: none;
      margin-left: 0.75em;
      margin-right: 0.75em; }
      .page-header .navlinks a:hover {
        color: lightgray; }
    .page-header .navlinks .signup {
      color: #00cd00; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-decoration: none; }
  .nombler-logo:hover {
    color: white;
    text-decoration: none; }
  .nombler-logo:focus {
    color: white;
    text-decoration: none; }

#search {
  height: 2em;
  width: 2em;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 0.5em;
  color: white;
  position: relative;
  transition: width 0.5s, opacity 0.3s;
  border: none; }
  #search::-webkit-placeholder {
    color: #c8c8c8; }
  #search::placeholder {
    color: #c8c8c8; }
  #search:focus {
    width: 11em;
    opacity: 1;
    outline: none; }
  #search:after {
    content: "\25AE";
    font-family: FontAwesome;
    left: -5px;
    position: absolute;
    top: 0; }

.search-label {
  position: absolute;
  top: -50%;
  right: 0.5em;
  font-size: 1.5em;
  color: white; }

.search-container {
  position: relative; }

#search-results {
  width: 11em;
  top: 1.5em;
  padding: 0;
  border: none; }
  #search-results li a {
    display: flex;
    border-bottom: 1px solid #c8c8c8;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0; }
    #search-results li a div {
      display: flex;
      flex-direction: column;
      margin-right: 1em; }
    #search-results li a object, #search-results li a img {
      margin-left: 0.15em;
      object-position: center;
      object-fit: cover;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      vertical-align: middle; }
    #search-results li a img {
      border: 2px solid black;
      background-color: #969696; }
  #search-results li:first-child a {
    margin-top: 0.15em; }
  #search-results li:last-child a {
    border-bottom: none;
    margin-bottom: 0.15em; }

.search-result-name {
  font-weight: bolder;
  color: black;
  word-break: break-all;
  white-space: normal; }

.search-result-username {
  font-size: 0.8em;
  color: #646464;
  word-break: break-all;
  white-space: normal; }

.search-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em; }

.search-animation-line {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  background-color: #c8c8c8;
  margin-right: 0.4em; }

.search-animation-line:nth-last-child(1) {
  animation: search-animation-bounce .6s .1s linear infinite; }

.search-animation-line:nth-last-child(2) {
  animation: search-animation-bounce .6s .2s linear infinite; }

.search-animation-line:nth-last-child(3) {
  animation: search-animation-bounce .6s .3s linear infinite; }

@keyframes search-animation-bounce {
  0% {
    transform: translate(0, -0.3em); }
  30% {
    transform: translate(0, 0.3em); }
  100% {
    transform: translate(0, -0.3em); } }
@media (max-width: 35em) {
  .page-header {
    padding-bottom: 0; }

  .navlinks {
    display: flex;
    flex-direction: column-reverse;
    text-align: right; }
    .navlinks .divider {
      display: none; }
    .navlinks a {
      margin-bottom: 0.5em; } }
.page-footer {
  font-family: 'Fira Sans';
  color: white;
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .page-footer a {
    color: white;
    text-decoration: none; }
    .page-footer a:hover {
      color: gray; }
  .page-footer .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .page-footer .social a {
      margin: 0.5em; }
  .page-footer .copyright {
    font-size: 80%; }
  .page-footer .legal a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%; }
  .page-footer .inquiries {
    font-weight: bold;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em; }

@media (max-width: 45em) {
  .page-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    margin-top: 0; }
    .page-footer .legal a:first-child {
      margin-left: 0; }
    .page-footer .social {
      position: static;
      transform: none; }
      .page-footer .social a {
        margin-left: 0; } }
.modal-content {
  font-weight: 300; }

.title .fa {
  font-size: 80%;
  color: indianred; }
  .title .fa:hover {
    color: #d98383; }
.title .fa-heart-o {
  color: #ebebeb; }

#edit-map-controls {
  position: absolute;
  right: 0;
  top: 1em; }
  #edit-map-controls .btn {
    border: none; }
  #edit-map-controls .btn-default.settings {
    background-color: #646464;
    color: white; }

ul.dropdown-menu {
  min-width: 0;
  left: auto;
  right: 0; }

.add-eatery {
  color: white;
  opacity: 0.8;
  text-align: center;
  display: block;
  width: 100%; }

.preview-map {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
  border-radius: 4px;
  padding: 0; }

.pac-container {
  z-index: 1051; }

/* Allows Google Places Autocomplete selector to show up in a modal*/
.glyphicon-edit {
  vertical-align: -5%;
  /* Adjust icon to correct height */
  color: lightgray; }
  .glyphicon-edit:hover {
    color: green; }
  .glyphicon-edit:active {
    color: darkgreen; }

@keyframes confetti {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%); }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%); }
  100% {
    opacity: 0;
    transform: translate(0, -1000%); } }
.glow {
  animation: glow 1.5s infinite; }

.glow-intense {
  animation: glow-intense 1.2s infinite; }

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.5); }
  70% {
    box-shadow: 0 0 0 15px rgba(92, 184, 92, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0); } }
@keyframes glow-intense {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.5);
    background-color: #5cb85c;
    border-color: #357935; }
  70% {
    box-shadow: 0 0 0 25px rgba(92, 184, 92, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0); } }
.floating-round-button {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ff8080;
  box-shadow: 0 0.25em 0.3em 0 rgba(0, 0, 0, 0.25); }
  .floating-round-button:hover {
    cursor: pointer; }
  .floating-round-button i {
    margin-top: 1px;
    height: 100%;
    width: 100%;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: inherit; }

p.eatery-list-header {
  width: fit-content;
  border-radius: 4px;
  padding-left: 0.5em;
  padding-right: 0.5em; }
  p.eatery-list-header:after {
    color: rgba(0, 128, 0, 0.5);
    white-space: pre;
    content: "  \f044";
    font-family: FontAwesome;
    font-size: 90%;
    visibility: hidden; }
  p.eatery-list-header:hover {
    background-color: rgba(0, 0, 0, 0.05); }
    p.eatery-list-header:hover:after {
      visibility: visible; }

.eatery-list-container li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }
.eatery-list-container li:hover:before {
  float: left;
  margin-left: -1.3em;
  width: 1em;
  font-family: sans-serif;
  display: inline-block;
  line-height: .36em;
  margin-top: -.1em;
  letter-spacing: 2px;
  color: #cccccc;
  content: '.. .. ..'; }
.eatery-list-container li:hover:after {
  float: right;
  width: 1em;
  font-family: sans-serif;
  display: inline-block;
  line-height: .36em;
  margin-top: -.1em;
  letter-spacing: 2px;
  color: #cccccc;
  content: '.. .. ..'; }
.eatery-list-container li a:hover {
  cursor: pointer; }
.eatery-list-container li span:hover {
  cursor: pointer; }
.eatery-list-container li:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.trashDropArea {
  position: fixed;
  bottom: -10em;
  right: -10em;
  width: 20em;
  height: 20em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%; }

.trash {
  position: fixed;
  bottom: 2em;
  right: 2em;
  margin-bottom: -1.5em;
  margin-right: -1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ea4b4b;
  transition: height 0.4s, width 0.4s, border-radius 0.4s step-end, margin 0.4s, box-shadow 0.4s;
  overflow: hidden; }
  .trash:hover:not(.is-dragging):not(.item-hovering) {
    width: 15em;
    border-radius: 2em;
    transition: height 0.4s, width 0.4s, border-radius 0.4s step-start; }
    .trash:hover:not(.is-dragging):not(.item-hovering) i {
      display: none; }
    .trash:hover:not(.is-dragging):not(.item-hovering) p {
      display: inline-block; }
  .trash i {
    color: white;
    height: 100%;
    width: 100%;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    transition: line-height 0.2s; }
  .trash p {
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 3em;
    display: hidden;
    height: 100%;
    width: 100%; }
  .trash.is-dragging {
    width: 4em;
    height: 4em;
    margin-bottom: -2em;
    margin-right: -2em;
    box-shadow: 0 0 0 2em rgba(234, 75, 75, 0.5);
    transition: height 0.2s, width 0.2s, box-shadow 0.2s, margin 0.2s; }
  .trash.is-dragging i {
    line-height: 2em;
    transition: line-height 0.2s; }
  .trash.item-hovering {
    background-color: #e51d1d;
    box-shadow: 0 0 0 1em rgba(234, 75, 75, 0.5);
    width: 5em;
    height: 5em;
    margin-bottom: -2.5em;
    margin-right: -2.5em;
    transition: height 0.2s, width 0.2s, box-shadow 0.2s, margin 0.2s; }
  .trash.item-hovering i {
    line-height: 2.5em;
    transition: line-height 0.2s;
    animation: shake 0.15s infinite; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(7deg); }
  50% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(0deg); } }
.add-eatery-list-container {
  color: white;
  width: 100%;
  border-width: 2px;
  border-style: dotted;
  border-color: white;
  border-radius: 4px;
  min-height: 6em;
  display: flex;
  background-color: transparent; }
  .add-eatery-list-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    background-clip: padding-box; }
    .add-eatery-list-container:hover > * {
      background-color: rgba(255, 255, 255, 0.2);
      background-clip: padding-box; }

#add-list-button {
  color: white;
  background-color: transparent;
  text-align: center;
  vertical-align: center;
  font-size: 150%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-style: dotted;
  border-width: 2px;
  border-color: white;
  margin: auto;
  display: flex; }
  #add-list-button i {
    margin: auto; }

#add-list-form {
  display: flex; }
  #add-list-form input {
    background: none;
    border: none;
    width: 100%; }

.edit-eatery-list-name-form {
  display: flex;
  margin-bottom: 0; }
  .edit-eatery-list-name-form input {
    background: none;
    border: none;
    width: 100%; }

.submit-check {
  background: none;
  border: none;
  font-size: 140%;
  color: green;
  margin-left: 0.5em;
  padding-bottom: 0.4em; }
  .submit-check:hover {
    cursor: pointer;
    color: darkgreen; }

@media (max-width: 768px) {
  #edit-map-controls {
    position: relative;
    right: auto;
    top: auto;
    margin: 10px 0 10px 0; }

  ul.dropdown-menu {
    min-width: 0;
    left: right;
    right: auto; } }
@media (max-width: 35em) {
  body {
    background-image: url("/nombler-public/img/city_background_small.jpeg"); }

  .pac-container {
    position: fixed !important;
    top: 10em !important; } }
@media (min-width: 35em) {
  body {
    background-image: url("/nombler-public/img/city_background_large.jpeg"); } }
#sharing-collapse {
  margin-top: 1em; }

.toggles {
  width: fit-content; }

.toggle-container {
  display: flex;
  margin: 0.2em 0 0.2em 0; }
  .toggle-container a {
    margin: 0 1em 0 0.1em;
    color: gray; }
  .toggle-container label {
    margin: 0 0 0 auto; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 3em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 1.5em;
  padding: 2px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease; }
.tgl-light:checked + .tgl-btn {
  background: #5cb85c; }

/*# sourceMappingURL=edit_map.css.map */
