.add-eatery {
  color: white;
  opacity: 0.8;
  text-align: center;
  display: block;
  width: 100%; }

.pac-container {
  z-index: 1051; }

/* Allows Google Places Autocomplete selector to show up in a modal*/
.glyphicon-edit {
  vertical-align: -5%;
  /* Adjust icon to correct height */
  color: lightgray; }
  .glyphicon-edit:hover {
    color: green; }
  .glyphicon-edit:active {
    color: darkgreen; }

@keyframes confetti {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%); }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%); }
  100% {
    opacity: 0;
    transform: translate(0, -1000%); } }
.glow {
  animation: glow 1.5s infinite; }

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.5); }
  70% {
    box-shadow: 0 0 0 15px rgba(92, 184, 92, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0); } }
.floating-round-button {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ff8080;
  box-shadow: 0 0.25em 0.3em 0 rgba(0, 0, 0, 0.25); }
  .floating-round-button:hover {
    cursor: pointer; }
  .floating-round-button i {
    margin-top: 1px;
    height: 100%;
    width: 100%;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: inherit; }

.eatery-list-container li:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }
.eatery-list-container li:hover:before {
  float: left;
  margin-left: -1.3em;
  width: 1em;
  font-family: sans-serif;
  display: inline-block;
  line-height: .36em;
  margin-top: -.1em;
  letter-spacing: 2px;
  color: #cccccc;
  content: '.. .. ..'; }
.eatery-list-container li:hover:after {
  float: right;
  width: 1em;
  font-family: sans-serif;
  display: inline-block;
  line-height: .36em;
  margin-top: -.1em;
  letter-spacing: 2px;
  color: #cccccc;
  content: '.. .. ..'; }
.eatery-list-container li a:hover {
  cursor: pointer; }
.eatery-list-container li span:hover {
  cursor: pointer; }
.eatery-list-container li:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.trashDropArea {
  position: fixed;
  bottom: -10em;
  right: -10em;
  width: 20em;
  height: 20em;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%; }

.trash {
  position: fixed;
  bottom: 2em;
  right: 2em;
  margin-bottom: -1.5em;
  margin-right: -1.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ea4b4b;
  transition: height 0.4s, width 0.4s, border-radius 0.4s step-end, margin 0.4s, box-shadow 0.4s;
  overflow: hidden; }
  .trash:hover:not(.is-dragging):not(.item-hovering) {
    width: 15em;
    border-radius: 2em;
    transition: height 0.4s, width 0.4s, border-radius 0.4s step-start; }
    .trash:hover:not(.is-dragging):not(.item-hovering) i {
      display: none; }
    .trash:hover:not(.is-dragging):not(.item-hovering) p {
      display: inline-block; }
  .trash i {
    color: white;
    height: 100%;
    width: 100%;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    transition: line-height 0.2s; }
  .trash p {
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 3em;
    display: hidden;
    height: 100%;
    width: 100%; }
  .trash.is-dragging {
    width: 4em;
    height: 4em;
    margin-bottom: -2em;
    margin-right: -2em;
    box-shadow: 0 0 0 2em rgba(234, 75, 75, 0.5);
    transition: height 0.2s, width 0.2s, box-shadow 0.2s, margin 0.2s; }
  .trash.is-dragging i {
    line-height: 2em;
    transition: line-height 0.2s; }
  .trash.item-hovering {
    background-color: #e51d1d;
    box-shadow: 0 0 0 1em rgba(234, 75, 75, 0.5);
    width: 5em;
    height: 5em;
    margin-bottom: -2.5em;
    margin-right: -2.5em;
    transition: height 0.2s, width 0.2s, box-shadow 0.2s, margin 0.2s; }
  .trash.item-hovering i {
    line-height: 2.5em;
    transition: line-height 0.2s;
    animation: shake 0.15s infinite; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(7deg); }
  50% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(0deg); } }
#sharing-collapse {
  margin-top: 1em; }

.add-eatery-list-container {
  width: 100%;
  border-width: 2px;
  border-style: dotted;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  min-height: 6em;
  display: flex;
  background-color: rgba(0, 0, 0, 0); }
  .add-eatery-list-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.5); }
    .add-eatery-list-container:hover > * {
      background-color: rgba(255, 255, 255, 0.2);
      background-clip: padding-box;
      border-color: rgba(0, 0, 0, 0.5);
      color: rgba(0, 0, 0, 0.5); }

#add-list-button {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  vertical-align: center;
  font-size: 150%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-style: dotted;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
  margin: auto;
  display: flex; }
  #add-list-button i {
    margin: auto; }

#add-list-form {
  display: flex; }
  #add-list-form input {
    background: none;
    border: none;
    width: 100%; }

.edit-eatery-list-name-form {
  display: flex;
  margin-bottom: 0; }
  .edit-eatery-list-name-form input {
    background: none;
    border: none;
    width: 100%; }

.submit-check {
  background: none;
  border: none;
  font-size: 140%;
  color: green;
  margin-left: 0.5em;
  padding-bottom: 0.4em; }
  .submit-check:hover {
    cursor: pointer;
    color: darkgreen; }

@media (max-width: 768px) {
  #edit-map-controls {
    float: none !important;
    margin-bottom: 10px; } }

/*# sourceMappingURL=edit_map.css.map */
