.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  box-sizing: border-box; }

.video-container {
  bottom: 0%;
  left: 0%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  background: #000;
  position: relative; }

.overlay-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/nombler-public/img/splashbackground.jpeg");
  background-size: cover;
  background-position: center; }

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans';
  width: 100%;
  color: white;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.3); }

.navbar {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center; }
  .navbar .navlinks {
    margin-left: auto; }
    .navbar .navlinks a {
      font-weight: bold;
      color: white;
      text-decoration: none;
      margin-left: 0.75em;
      margin-right: 0.75em; }
      .navbar .navlinks a:hover {
        color: lightgray; }
    .navbar .navlinks .signup {
      color: #00cd00; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-decoration: none; }

.footer {
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer a {
    color: white;
    text-decoration: none; }
    .footer a:hover {
      color: gray; }
  .footer .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .footer .social a {
      margin: 0.5em; }
  .footer .copyright {
    font-size: 80%; }
  .footer .legal a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%; }
  .footer .inquiries {
    font-weight: bold;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em; }

@media (max-width: 45em) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    margin-top: 0; }
    .footer .legal a:first-child {
      margin-left: 0; }
    .footer .social {
      position: static;
      transform: none; }
      .footer .social a {
        margin-left: 0; } }
@media (max-width: 35em) {
  .navbar {
    padding-bottom: 0; }

  .navlinks {
    display: flex;
    flex-direction: column-reverse;
    text-align: right; }
    .navlinks .divider {
      display: none; }
    .navlinks a {
      margin-bottom: 0.5em; } }
.intro {
  margin: 0 1em 1em 1em; }
  .intro h1 {
    text-align: center; }
  .intro span {
    font-family: 'Lato', sans-serif; }
  .intro a {
    color: white; }

#featured-maps {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.maps-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.map-item {
  color: inherit;
  display: block;
  margin: 1.6666666667%;
  width: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }
  .map-item .map-item-content {
    color: black;
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden; }
    .map-item .map-item-content > * {
      background: rgba(255, 255, 255, 0.8);
      padding: 0 7% 0em 7%;
      max-height: 30%; }
    .map-item .map-item-content h4 {
      font-weight: bolder;
      font-size: 120%;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em; }
      .map-item .map-item-content h4 p {
        font-weight: lighter;
        color: gray;
        font-size: 80%;
        margin-top: 0.1em; }
    .map-item .map-item-content p {
      margin-top: 0;
      font-size: 90%;
      margin-bottom: 0; }
    .map-item .map-item-content:after {
      background: rgba(255, 255, 255, 0.8);
      content: '';
      height: 1em;
      width: 100%;
      display: block; }

@media (max-width: 768px) {
  .maps-container {
    justify-content: center; }

  .map-item {
    color: inherit;
    display: block;
    width: 80%;
    margin-left: 0;
    margin-right: 0; } }

/*# sourceMappingURL=featured_maps.css.map */
