.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.video-container {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
