.page-header {
  font-family: 'Fira Sans';
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center; }
  .page-header .navlinks {
    position: relative;
    margin-left: auto; }
    .page-header .navlinks a {
      font-weight: bold;
      color: white;
      text-decoration: none;
      margin-left: 0.75em;
      margin-right: 0.75em; }
      .page-header .navlinks a:hover {
        color: lightgray; }
    .page-header .navlinks .signup {
      color: #00cd00; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-decoration: none; }
  .nombler-logo:hover {
    color: white;
    text-decoration: none; }

@media (max-width: 35em) {
  .page-header {
    padding-bottom: 0; }

  .navlinks {
    display: flex;
    flex-direction: column-reverse;
    text-align: right; }
    .navlinks .divider {
      display: none; }
    .navlinks a {
      margin-bottom: 0.5em; } }
.page-footer {
  font-family: 'Fira Sans';
  color: white;
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .page-footer a {
    color: white;
    text-decoration: none; }
    .page-footer a:hover {
      color: gray; }
  .page-footer .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .page-footer .social a {
      margin: 0.5em; }
  .page-footer .copyright {
    font-size: 80%; }
  .page-footer .legal a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%; }
  .page-footer .inquiries {
    font-weight: bold;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em; }

@media (max-width: 45em) {
  .page-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
    margin-top: 0; }
    .page-footer .legal a:first-child {
      margin-left: 0; }
    .page-footer .social {
      position: static;
      transform: none; }
      .page-footer .social a {
        margin-left: 0; } }
ul.dropdown-menu {
  min-width: 0;
  left: auto;
  right: 0; }
  ul.dropdown-menu li a {
    font-weight: lighter; }

.nav li a {
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  font-size: 150%;
  color: white; }
  .nav li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white; }
.nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: white; }
  .nav li.active a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white; }
  .nav li.active a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    color: white; }

a.with-notification-badge:after {
  content: '!';
  display: block;
  padding: 1px;
  font-size: 80%;
  position: absolute;
  text-align: center;
  top: -4px;
  right: -2px;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #fea400;
  border-radius: 1.5em;
  background-color: orange;
  will-change: transform;
  animation: 0.5s bounce;
  animation-iteration-count: 2; }

@keyframes bounce {
  0% {
    top: -4px; }
  50% {
    top: -12px; }
  100% {
    top: -4px; } }
.jumbotron {
  background-color: transparent;
  padding-top: 0; }
  .jumbotron ol {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    padding-left: 2em;
    border-radius: 4px;
    width: fit-content; }

.welcome h2 {
  font-weight: bolder; }
.welcome ol {
  font-size: 1.5em;
  margin: 1.5em 0 1.5em 0; }

.maps-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.map-item {
  color: inherit;
  display: block;
  margin: 1.6666666667%;
  width: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }
  .map-item .map-item-content {
    color: black;
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden; }
    .map-item .map-item-content > * {
      padding: 0 7% 0em 7%;
      max-height: 30%; }
    .map-item .map-item-content h4 {
      background: rgba(255, 255, 255, 0.8);
      font-weight: bolder;
      font-size: 120%;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em; }
      .map-item .map-item-content h4 p {
        font-weight: 300;
        color: gray;
        font-size: 80%;
        margin-top: 0.1em; }
    .map-item .map-item-content p {
      background: rgba(255, 255, 255, 0.8);
      margin-top: 0;
      font-size: 90%;
      margin-bottom: 0;
      font-weight: lighter; }
    .map-item .map-item-content:after {
      background: rgba(255, 255, 255, 0.8);
      content: '';
      height: 1em;
      width: 100%;
      display: block; }

@media (max-width: 768px) {
  .maps-container {
    justify-content: center; }

  .map-item {
    color: inherit;
    display: block;
    width: 80%;
    margin-left: 0;
    margin-right: 0; } }
.page-header {
  margin-top: 0; }

body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.page-container {
  height: 100%;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-attachment: fixed; }

h1 {
  font-family: 'Fira Sans', sans-serif; }

.no-hearted-maps {
  background-color: transparent; }
  .no-hearted-maps h3 {
    font-weight: bolder; }

.favorite-maps-container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

.thumbtack-container {
  color: indianred;
  background: none;
  position: absolute;
  top: 0.5882352941em;
  right: 0;
  font-size: 170%; }
  .thumbtack-container .faded {
    opacity: 0.4;
    color: gray; }
    .thumbtack-container .faded:hover {
      opacity: 0.7;
      color: indianred; }

@media (max-width: 768px) {
  #controls {
    float: none !important;
    margin-bottom: 10px; }

  .map-item {
    color: inherit;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .nav {
    margin-bottom: 10px; }

  #my-maps .maps-container:not(.favorite-maps-container) {
    justify-content: space-around; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-item {
      width: 45%; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-description {
      display: none !important; }

  ul.dropdown-menu {
    min-width: 0;
    left: right;
    right: auto; }

  .header-row {
    display: flex;
    flex-direction: column-reverse; }

  .aboutinfo {
    float: none; } }
@media (max-width: 35em) {
  html, body {
    height: 100%; }

  html {
    overflow-y: hidden; }

  body {
    overflow-y: scroll;
    background-color: #000000;
    background-image: url("/nombler-public/img/city_background_small.jpeg"); } }
@media (min-width: 35em) {
  body {
    background-image: url("/nombler-public/img/city_background_large.jpeg"); } }

/*# sourceMappingURL=map_index.css.map */
