body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 35em) {
  html, body {
    height: 100%; }

  html {
    overflow-y: hidden; }

  body {
    overflow-y: scroll;
    background-color: #000000; } }
.page-header {
  margin-top: 0;
  font-family: 'Fira Sans';
  box-sizing: border-box;
  width: 100%;
  padding: 1em 0 1em 0;
  display: flex;
  align-items: center; }
  .page-header .navlinks {
    position: relative;
    margin-left: auto; }
    .page-header .navlinks a {
      margin-left: 0.75em;
      margin-right: 0.75em;
      font-weight: bold;
      color: white;
      text-decoration: none; }
      .page-header .navlinks a:hover {
        color: lightgray; }
    .page-header .navlinks .signup {
      color: #00cd00; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-decoration: none; }
  .nombler-logo:hover {
    color: white;
    text-decoration: none; }
  .nombler-logo:focus {
    color: white;
    text-decoration: none; }

#search {
  height: 2em;
  width: 2em;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 0.5em;
  color: white;
  position: relative;
  transition: width 0.5s, opacity 0.3s;
  border: none; }
  #search::-webkit-placeholder {
    color: #c8c8c8; }
  #search::placeholder {
    color: #c8c8c8; }
  #search:focus {
    width: 11em;
    opacity: 1;
    outline: none; }
  #search:after {
    content: "\25AE";
    font-family: FontAwesome;
    left: -5px;
    position: absolute;
    top: 0; }

.search-label {
  position: absolute;
  top: -50%;
  right: 0.5em;
  font-size: 1.5em;
  color: white; }

.search-container {
  position: relative;
  margin-left: 0.75em; }

#search-results {
  width: 11em;
  top: 1.5em;
  padding: 0;
  border: none; }
  #search-results li a {
    display: flex;
    border-bottom: 1px solid #c8c8c8;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0; }
    #search-results li a div {
      display: flex;
      flex-direction: column;
      margin-right: 1em; }
    #search-results li a object, #search-results li a img {
      margin-left: 0.15em;
      object-position: center;
      object-fit: cover;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      vertical-align: middle; }
    #search-results li a img {
      border: 2px solid black;
      background-color: #969696; }
  #search-results li:first-child a {
    margin-top: 0.15em; }
  #search-results li:last-child a {
    border-bottom: none;
    margin-bottom: 0.15em; }

.search-result-name {
  font-weight: bolder;
  color: black;
  word-break: break-all;
  white-space: normal; }

.search-result-username {
  font-size: 0.8em;
  color: #646464;
  word-break: break-all;
  white-space: normal; }

.search-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em; }

.search-animation-line {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  background-color: #c8c8c8;
  margin-right: 0.4em; }

.search-animation-line:nth-last-child(1) {
  animation: search-animation-bounce .6s .1s linear infinite; }

.search-animation-line:nth-last-child(2) {
  animation: search-animation-bounce .6s .2s linear infinite; }

.search-animation-line:nth-last-child(3) {
  animation: search-animation-bounce .6s .3s linear infinite; }

@keyframes search-animation-bounce {
  0% {
    transform: translate(0, -0.3em); }
  30% {
    transform: translate(0, 0.3em); }
  100% {
    transform: translate(0, -0.3em); } }
@media (max-width: 35em) {
  .page-header {
    padding-bottom: 0; }

  .navlinks {
    display: flex;
    flex-direction: column-reverse;
    text-align: right; }
    .navlinks .divider {
      display: none; }
    .navlinks a {
      margin-bottom: 0.5em; }

  .search-container {
    margin-bottom: 0.5em; }

  .search-label {
    top: 0; } }
.page-footer {
  font-family: 'Fira Sans';
  color: white;
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .page-footer a {
    color: white;
    text-decoration: none; }
    .page-footer a:hover {
      color: gray; }
  .page-footer .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .page-footer .social a {
      margin: 0.5em; }
  .page-footer .copyright {
    font-size: 80%; }
  .page-footer .legal a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%; }
  .page-footer .inquiries {
    font-weight: bold;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em; }

@media (max-width: 45em) {
  .page-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
    min-height: 4em; }
    .page-footer .legal a:first-child {
      margin-left: 0; }
    .page-footer .social {
      position: static;
      transform: none; }
      .page-footer .social a {
        margin-left: 0; } }
ul.dropdown-menu {
  min-width: 0;
  left: auto;
  right: 0; }
  ul.dropdown-menu li a {
    font-weight: lighter; }

.nav li a {
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  font-size: 150%;
  color: white; }
  .nav li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white; }
.nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: white; }
  .nav li.active a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white; }
  .nav li.active a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    color: white; }

a.with-notification-badge:after {
  content: '!';
  display: block;
  padding: 1px;
  font-size: 80%;
  position: absolute;
  text-align: center;
  top: -4px;
  right: -2px;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #fea400;
  border-radius: 1.5em;
  background-color: orange;
  will-change: transform;
  animation: 0.5s bounce;
  animation-iteration-count: 2; }

@keyframes bounce {
  0% {
    top: -4px; }
  50% {
    top: -12px; }
  100% {
    top: -4px; } }
.jumbotron {
  background-color: transparent;
  padding-top: 0; }
  .jumbotron ol {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    padding-left: 2em;
    border-radius: 4px;
    width: fit-content; }

.welcome h2 {
  font-weight: bolder; }
.welcome ol {
  font-size: 1.5em;
  margin: 1.5em 0 1.5em 0; }

.maps-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.map-item {
  color: inherit;
  display: block;
  margin: 1.6666666667%;
  width: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }
  .map-item .map-item-content {
    color: black;
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden; }
    .map-item .map-item-content > * {
      padding: 0 7% 0em 7%;
      max-height: 30%; }
    .map-item .map-item-content h4 {
      background: rgba(255, 255, 255, 0.8);
      font-weight: bolder;
      font-size: 120%;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em; }
      .map-item .map-item-content h4 p {
        font-weight: 300;
        color: gray;
        font-size: 80%;
        margin-top: 0.1em; }
    .map-item .map-item-content p {
      margin-top: 0;
      font-size: 90%;
      margin-bottom: 0;
      font-weight: lighter; }
    .map-item .map-item-content .map-description {
      background: rgba(255, 255, 255, 0.8); }
    .map-item .map-item-content:after {
      background: rgba(255, 255, 255, 0.8);
      content: '';
      height: 1em;
      width: 100%;
      display: block; }

@media (max-width: 768px) {
  .maps-container {
    justify-content: center; }

  .map-item {
    color: inherit;
    display: block;
    width: 80%;
    margin-left: 0;
    margin-right: 0; } }
.loading-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em; }

.loading-animation-line {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  background-color: #c8c8c8;
  margin-right: 0.4em; }

.loading-animation-line:nth-last-child(1) {
  animation: loading-animation-bounce .6s .1s linear infinite; }

.loading-animation-line:nth-last-child(2) {
  animation: loading-animation-bounce .6s .2s linear infinite; }

.loading-animation-line:nth-last-child(3) {
  animation: loading-animation-bounce .6s .3s linear infinite; }

@keyframes loading-animation-bounce {
  0% {
    transform: translate(0, -0.3em); }
  30% {
    transform: translate(0, 0.3em); }
  100% {
    transform: translate(0, -0.3em); } }
.home {
  display: flex; }

.sidebar {
  width: 35vw;
  display: flex;
  flex-direction: column;
  padding-left: 2em; }
  .sidebar h1, .sidebar h3 {
    text-align: center; }
  .sidebar .map-item {
    width: 100%;
    margin: 1em; }

.feed-container {
  margin-top: 1em;
  border-radius: 4px;
  background-color: #f0f0f0;
  min-height: 20%;
  height: fit-content;
  width: 100%; }
  .feed-container .feed-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray; }
    .feed-container .feed-item .profile-photo {
      margin: 1em 2em 1em 2em; }
    .feed-container .feed-item .profile-photo, .feed-container .feed-item .profile-photo > * {
      object-position: center;
      object-fit: cover;
      width: 5em;
      height: 5em;
      border-radius: 50%; }
    .feed-container .feed-item > :last-child {
      margin-left: auto; }
  .feed-container .feed-item:last-child {
    border-bottom: none; }

.username, .map-link {
  font-weight: bold;
  color: black; }
  .username:hover, .map-link:hover {
    color: gray; }

.feed-middle {
  display: flex;
  margin-right: 2em;
  flex-direction: column; }

.feed-date {
  color: gray;
  font-size: 80%; }

.placeholder-photo {
  border: 2px solid black;
  background-color: #969696; }

.quote {
  margin-top: 0.5em;
  color: #646464; }
  .quote:before {
    content: "\f10d";
    font-family: FontAwesome;
    margin-right: 0.5em;
    font-size: 80%; }
  .quote:after {
    content: "\f10e";
    font-family: FontAwesome;
    margin-left: 0.5em;
    font-size: 80%; }

.follow-widget-container {
  width: 9em;
  display: flex;
  justify-content: center;
  align-items: center; }

.map-feed-item {
  margin-bottom: 0;
  width: 9em;
  height: 9em;
  color: inherit;
  display: block;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-feed-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-feed-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }

@media (max-width: 768px) {
  .sidebar {
    display: none; }

  .feed-container {
    box-sizing: border-box;
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
    border-radius: 0; }
    .feed-container .feed-item .username, .feed-container .feed-item .map-link {
      font-size: 1em; }
    .feed-container .feed-item .feed-middle {
      margin-right: 1em; }
    .feed-container .feed-item .profile-photo {
      margin: 1em; }
    .feed-container .feed-item .feed-date {
      display: none; }
    .feed-container .feed-item .map-feed-item {
      min-width: 7em; }
    .feed-container .feed-item .quote {
      font-size: 70%; }

  .nav-pills li a {
    font-size: 120%; } }
h1 {
  font-family: 'Fira Sans', sans-serif; }

.no-hearted-maps {
  background-color: transparent; }
  .no-hearted-maps h3 {
    font-weight: bolder; }

.favorite-maps-container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

.thumbtack-container {
  color: indianred;
  background: none;
  position: absolute;
  top: 0.5882352941em;
  right: 0;
  font-size: 170%; }
  .thumbtack-container .faded {
    opacity: 0.4;
    color: gray; }
    .thumbtack-container .faded:hover {
      opacity: 0.7;
      color: indianred; }

@media (max-width: 768px) {
  #controls {
    float: none !important;
    margin-bottom: 10px; }

  .map-item {
    color: inherit;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }

  .nav {
    margin-bottom: 10px; }

  #my-maps .maps-container:not(.favorite-maps-container) {
    justify-content: space-around; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-item {
      width: 45%; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-item-content > * {
      max-height: 70%; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-item-content:after {
      display: none; }
    #my-maps .maps-container:not(.favorite-maps-container) .map-description {
      display: none !important; }

  ul.dropdown-menu {
    min-width: 0;
    left: right;
    right: auto; }

  .header-row {
    display: flex;
    flex-direction: column-reverse; }

  .aboutinfo {
    float: none; } }
@media (max-width: 35em) {
  body {
    background-image: url("/nombler-public/img/city_background_small.jpeg"); } }
@media (min-width: 35em) {
  body {
    background-image: url("/nombler-public/img/city_background_large.jpeg"); } }

/*# sourceMappingURL=map_index.css.map */
