body
{
  font-family: 'Lato', sans-serif;
  background-image: url("/nombler-public/img/retina_wood_@2X.png");
}

h1
{
  font-family: 'Fira Sans', sans-serif;
}

.page-header
{
  margin-top: 0;
  padding-bottom: 0;
  border-bottom-width: 2px;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.nombler-logo
{
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

a.logo:link
{
 color: #317eac;
 text-decoration:none;
}
a.logo:visited
{
 color: #317eac;
 text-decoration:none;
}
a.logo:hover
{
 color: #317eac;
 text-decoration:none;
}
a.logo:active
{
 color: #317eac;
 text-decoration:none;
}

#map-canvas
{
  width:100%;
  height:100%;
}

.well
{
  background-color: rgba(245, 245, 245, 0.7);
}

.map-header .glyphicon {
  font-size: 20px;
}

.add-eatery {
  color: white;
  opacity: 0.5;
  display:block;
  text-align:center;
  width:100%;
}

.pac-container { z-index: 1051; } /* Allows Google Places Autocomplete selector to show up in a modal*/

.glyphicon-remove, .glyphicon-edit { /* Adjust delete icon to correct height */
  vertical-align: -5%;
  color: lightgray;
}

.remove-hover {
  color: red;
}

.remove-clicked {
  color: maroon;
}

.edit-hover {
  color: green;
}

.edit-clicked {
  color: darkgreen;
}

.jumbotron {
  background-color: rgba(245, 245, 245, 0.4);
}

@keyframes confetti {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes hearts {
  0%{
    opacity: 0;
    transform:translate(0, 0%);
  }
  20% {
    opacity: 0.8;
    transform:translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform:translate(0, -1000%);
  }
}

.glow {
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(92, 184, 92, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(92, 184, 92, 0);
  }
}
