.map-title
{
  font-size: 2.2em;
  margin-top: 2%;
  margin-bottom: 2%;
}

.map-description
{
  line-height: 1.5;
  font-size: 1.2em;
  margin-bottom: 2%;
}

.eatery-list-name
{
  font-weight: bolder;
}

.gm-style-iw div
{
  width: 28em;
}

.gm-style-iw *
{
  font-family: 'Lato', sans-serif;
}

.gm-style-iw h5
{
  font-weight: bold;
  font-size: 1.2em;
}
