.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.video-container {
  bottom: 0%;
  left: 0%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  background: #000;
  position: relative; }

.background-video {
  position: absolute;
  height: 100%;
  top: 0; }

.overlay-desc {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center; }

.overlay-content {
  font-family: 'Fira Sans';
  max-width: 60em;
  padding: 0 5em 0 5em;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
  color: white;
  z-index: 1; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 600%;
  text-align: center;
  margin: 10% 0 5% 0; }

.main-jumbotron {
  position: relative;
  display: flex; }
  .main-jumbotron .one-line-pitch {
    flex: 2 2 66%;
    display: inline-block;
    font-size: 200%;
    padding-right: 1em; }
  .main-jumbotron .login-and-signup {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .main-jumbotron .cta {
    width: 100%;
    height: 100%;
    border-color: #00cd00;
    border-width: 2px;
    background-color: rgba(0, 205, 0, 0.65);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-family: 'Pacifico'; }
    .main-jumbotron .cta:hover {
      border-color: #1bff1b;
      background-color: rgba(0, 205, 0, 0.85);
      color: white; }
  .main-jumbotron #login {
    color: white;
    text-decoration: underline;
    margin: 2px 0 0 0;
    padding: 0;
    font-size: 80%;
    width: 100%;
    text-align: center; }
    .main-jumbotron #login:hover {
      color: lightgray; }

.description {
  font-size: 120%;
  text-align: left;
  margin-top: 10%; }
  .description h2 {
    text-align: center;
    margin-bottom: 1em; }

.description-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .description-section p {
    width: 45%;
    margin: 0 1em 0 1em;
    font-size: 130%; }
  .description-section video {
    width: 45%;
    border-radius: 4px; }
  .description-section img {
    width: 45%;
    border-radius: 4px; }

#example-carousel {
  max-width: 80vw; }

.slick-slide {
  margin: 0 1em; }

.slick-list {
  margin: 0 -1em; }

.map-item {
  width: 45%;
  color: black;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }
  .map-item .map-item-content {
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden; }
    .map-item .map-item-content > * {
      background: rgba(255, 255, 255, 0.8);
      padding: 0 7% 0em 7%;
      max-height: 60%; }
    .map-item .map-item-content h4 {
      font-weight: bolder;
      margin: 0;
      padding-top: 1em; }
    .map-item .map-item-content:after {
      background: rgba(255, 255, 255, 0.8);
      content: '';
      height: 1em;
      width: 100%;
      display: block; }

@media (max-width: 550px) {
  .description-section {
    display: flex;
    flex-direction: column; }
    .description-section p {
      width: 100%;
      margin-bottom: 5%; }
    .description-section video {
      width: 100%; }
    .description-section img {
      width: 100%; }

  .map-item {
    width: 100%; }

  #example-carousel {
    padding: 1em;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3); }

  .main-jumbotron {
    flex-wrap: wrap; } }

/*# sourceMappingURL=splash.css.map */
