body {
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 35em) {
  html, body {
    height: 100%; }

  html {
    overflow-y: hidden; }

  body {
    overflow-y: scroll;
    background-color: #000000; } }
.page-header {
  margin-top: 0;
  font-family: 'Fira Sans';
  box-sizing: border-box;
  width: 100%;
  padding: 1em 0 1em 0;
  display: flex;
  align-items: center; }
  .page-header .navlinks {
    position: relative;
    margin-left: auto; }
    .page-header .navlinks a {
      margin-left: 0.75em;
      margin-right: 0.75em;
      font-weight: bold;
      color: white;
      text-decoration: none; }
      .page-header .navlinks a:hover {
        color: lightgray; }
    .page-header .navlinks .signup {
      color: #00cd00; }

.nombler-logo {
  font-family: 'Pacifico', cursive;
  font-size: 300%;
  color: white;
  text-decoration: none; }
  .nombler-logo:hover {
    color: white;
    text-decoration: none; }
  .nombler-logo:focus {
    color: white;
    text-decoration: none; }

#search {
  height: 2em;
  width: 2em;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 0.5em;
  color: white;
  position: relative;
  transition: width 0.5s, opacity 0.3s;
  border: none; }
  #search::-webkit-placeholder {
    color: #c8c8c8; }
  #search::placeholder {
    color: #c8c8c8; }
  #search:focus {
    width: 11em;
    opacity: 1;
    outline: none; }
  #search:after {
    content: "\25AE";
    font-family: FontAwesome;
    left: -5px;
    position: absolute;
    top: 0; }

.search-label {
  position: absolute;
  top: -50%;
  right: 0.5em;
  font-size: 1.5em;
  color: white; }

.search-container {
  position: relative;
  margin-left: 0.75em; }

#search-results {
  width: 11em;
  top: 1.5em;
  padding: 0;
  border: none; }
  #search-results li a {
    display: flex;
    border-bottom: 1px solid #c8c8c8;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0; }
    #search-results li a div {
      display: flex;
      flex-direction: column;
      margin-right: 1em; }
    #search-results li a object, #search-results li a img {
      margin-left: 0.15em;
      object-position: center;
      object-fit: cover;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      vertical-align: middle; }
    #search-results li a img {
      border: 2px solid black;
      background-color: #969696; }
  #search-results li:first-child a {
    margin-top: 0.15em; }
  #search-results li:last-child a {
    border-bottom: none;
    margin-bottom: 0.15em; }

.search-result-name {
  font-weight: bolder;
  color: black;
  word-break: break-all;
  white-space: normal; }

.search-result-username {
  font-size: 0.8em;
  color: #646464;
  word-break: break-all;
  white-space: normal; }

.search-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em; }

.search-animation-line {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  background-color: #c8c8c8;
  margin-right: 0.4em; }

.search-animation-line:nth-last-child(1) {
  animation: search-animation-bounce .6s .1s linear infinite; }

.search-animation-line:nth-last-child(2) {
  animation: search-animation-bounce .6s .2s linear infinite; }

.search-animation-line:nth-last-child(3) {
  animation: search-animation-bounce .6s .3s linear infinite; }

@keyframes search-animation-bounce {
  0% {
    transform: translate(0, -0.3em); }
  30% {
    transform: translate(0, 0.3em); }
  100% {
    transform: translate(0, -0.3em); } }
@media (max-width: 35em) {
  .page-header {
    padding-bottom: 0; }

  .navlinks {
    display: flex;
    flex-direction: column-reverse;
    text-align: right; }
    .navlinks .divider {
      display: none; }
    .navlinks a {
      margin-bottom: 0.5em; }

  .search-container {
    margin-bottom: 0.5em; }

  .search-label {
    top: 0; } }
.page-footer {
  font-family: 'Fira Sans';
  color: white;
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .page-footer a {
    color: white;
    text-decoration: none; }
    .page-footer a:hover {
      color: gray; }
  .page-footer .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    .page-footer .social a {
      margin: 0.5em; }
  .page-footer .copyright {
    font-size: 80%; }
  .page-footer .legal a {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 80%; }
  .page-footer .inquiries {
    font-weight: bold;
    font-size: 80%;
    margin-left: 0.5em;
    margin-right: 0.5em; }

@media (max-width: 45em) {
  .page-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: baseline;
    min-height: 4em; }
    .page-footer .legal a:first-child {
      margin-left: 0; }
    .page-footer .social {
      position: static;
      transform: none; }
      .page-footer .social a {
        margin-left: 0; } }
.maps-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.map-item {
  color: inherit;
  display: block;
  margin: 1.6666666667%;
  width: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden; }
  .map-item:after {
    content: '';
    display: block;
    padding-top: 100%; }
  .map-item:hover:after {
    background-color: rgba(255, 255, 255, 0.5); }
  .map-item .map-item-content {
    color: black;
    position: absolute;
    width: 100%;
    height: 85%;
    overflow: hidden; }
    .map-item .map-item-content > * {
      padding: 0 7% 0em 7%;
      max-height: 30%; }
    .map-item .map-item-content h4 {
      background: rgba(255, 255, 255, 0.8);
      font-weight: bolder;
      font-size: 120%;
      margin: 0;
      padding-top: 1em;
      padding-bottom: 1em; }
      .map-item .map-item-content h4 p {
        font-weight: 300;
        color: gray;
        font-size: 80%;
        margin-top: 0.1em; }
    .map-item .map-item-content p {
      margin-top: 0;
      font-size: 90%;
      margin-bottom: 0;
      font-weight: lighter; }
    .map-item .map-item-content .map-description {
      background: rgba(255, 255, 255, 0.8); }
    .map-item .map-item-content:after {
      background: rgba(255, 255, 255, 0.8);
      content: '';
      height: 1em;
      width: 100%;
      display: block; }

@media (max-width: 768px) {
  .maps-container {
    justify-content: center; }

  .map-item {
    color: inherit;
    display: block;
    width: 80%;
    margin-left: 0;
    margin-right: 0; } }
.modal {
  color: black; }

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: fit-content; }

.modal-body {
  padding: 0; }

.follows {
  padding: 0;
  list-style-type: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-height: 80vh;
  overflow-y: scroll; }
  .follows li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 0.5em 1em; }
    .follows li:hover {
      background-color: #f0f0f0; }
    .follows li a {
      display: flex;
      align-items: center;
      padding: 0.3em 0.5em 0.3em 0.5em;
      margin: 0;
      padding: 0; }
      .follows li a div {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        margin-right: 3em; }
      .follows li a object, .follows li a img {
        object-position: center;
        object-fit: cover;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        vertical-align: middle; }
      .follows li a img {
        border: 2px solid black;
        background-color: #969696; }

.follow-name {
  font-weight: bolder;
  color: black;
  word-break: break-all;
  white-space: normal; }

.follow-username {
  font-size: 0.8em;
  color: #646464;
  word-break: break-all;
  white-space: normal; }

.loading-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em; }

.loading-animation-line {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 0.7em;
  background-color: #c8c8c8;
  margin-right: 0.4em; }

.loading-animation-line:nth-last-child(1) {
  animation: loading-animation-bounce .6s .1s linear infinite; }

.loading-animation-line:nth-last-child(2) {
  animation: loading-animation-bounce .6s .2s linear infinite; }

.loading-animation-line:nth-last-child(3) {
  animation: loading-animation-bounce .6s .3s linear infinite; }

@keyframes loading-animation-bounce {
  0% {
    transform: translate(0, -0.3em); }
  30% {
    transform: translate(0, 0.3em); }
  100% {
    transform: translate(0, -0.3em); } }
#user-gallery {
  color: white; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.user-container {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .user-container:hover {
    color: white;
    text-decoration: none; }
    .user-container:hover:after {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -5%;
      left: -10%;
      border-radius: 4px;
      content: '\f044';
      font-family: FontAwesome;
      font-size: 200%;
      width: 120%;
      height: 110%;
      background-color: rgba(0, 0, 0, 0.7);
      padding-left: 3px;
      padding-top: 2px; }
  .user-container object, .user-container img {
    object-position: center;
    object-fit: cover;
    width: 7em;
    height: 7em;
    border-radius: 50%; }
  .user-container img {
    border: 2px solid black;
    background-color: #969696; }
  .user-container h2 {
    margin-top: 0.5em;
    margin-bottom: 0; }
  .user-container h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #c8c8c8; }

.page-container {
  background: rgba(100, 100, 100, 0.3); }

.map-item:only-child {
  margin-left: auto;
  margin-right: auto; }

.no-maps {
  margin-left: auto;
  margin-right: auto; }

.follow-stats {
  margin-top: 1em;
  margin-bottom: 1em; }
  .follow-stats a {
    color: white; }
    .follow-stats a:hover {
      text-decoration: none;
      color: lightgray; }
    .follow-stats a:focus {
      outline: none; }
  .follow-stats .divider {
    margin: 0 1em 0 1em; }

body {
  background-image: url("/nombler-public/img/splashbackground.jpeg");
  background-position: 0% 25%; }

/*# sourceMappingURL=user_gallery.css.map */
